.btn-primary {
    border-radius: .5em;
    border: solid 0.2rem darken($backgroundColor, 10%);
    background-color: darken($backgroundColor, 5%);

    &:hover, &:focus, &:active {
        background-color: darken($lightColor,10%);
        border: solid 0.2rem darken($lightColor, 25%);
        box-shadow: 0 0 0 0.25rem lighten($lightColor, 30%);
    }
}