{# <h1>Bonjour, veuillez confirmer votre email</h1>

<p>
    Confirmer votre email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Le lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci à vous !
</p> #}
