{% extends 'back/base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h1>Modifier la Catégorie</h1>

    <div class="col-6 mx-auto">
        {{ include('back/category/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <a href="{{ path('app_admin_category_index') }}">Retour à la liste</a>

    {{ include('back/category/_delete_form.html.twig') }}
{% endblock %}
