<footer>
        <!-- USEFULL LINKS -->
        <div class="widthcustom">
            <div class="footer-links">
                <!-- ACCESS LINKS -->
                <div>
                    <h4>Accès utiles</h4>
                    <ul>
                        <li><a href="">Mon compte</a> </li>
                        <li><a href="">Paiement en plusieurs fois</a></li>
                        <li><a href="">Retours & remboursements</a></li>
                    </ul>
                </div>
                <!-- /ACCESS LINKS -->
                <!-- UTILS LINKS -->
                <div>
                    <h4>La Nîmes'alerie</h4>
                    <ul>
                        <li><a href="">Qui sommes-nous ? </a></li>
                        <li><a href="">Mentions legales</a></li>
                        <li><a href="">Politique de confidentialité</a></li>
                        <li><a href="">Politique des cookies</a></li>
                        <li><a href="">CGU boutique</a></li>
                        <li><a href="">Nous contacter</a></li>
                    </ul>
                </div>
                <!-- /UTILS LINKS -->
            </div>
            <!-- /USEFULL LINKS -->
            <div class="footer-copyright">
                <p>2022 &copy; La Nîmes'alerie - Réalisé par Nathan Badoit</p>
            </div>
        </div>
    </footer>