<footer>
        <!-- USEFULL LINKS -->
        <div class="widthcustom">
            <div class="footer-links">
                <!-- UTILS LINKS -->
                <div>
                    <h4>La Nîmes'alerie</h4>
                    <ul>
                        <li><a href="">Qui sommes-nous ? </a></li>
                        <li><a href="">Mentions legales</a></li>
                        <li><a href="">Politique de confidentialité</a></li>
                        <li><a href="">Politique des cookies</a></li>
                        <li><a href="">CGU boutique</a></li>
                        <li><a href="">Nous contacter</a></li>
                    </ul>
                </div>
                <!-- /UTILS LINKS -->
                <!-- ACCESS LINKS -->
                {# <div>
                    <h4>Accès utiles</h4>
                    <ul>
                        <li><a href="{{path('app_user_profile_show', {'id': app.user.id})}} ">Mon compte</a> </li>
                    </ul>
                </div> #}
                <!-- /ACCESS LINKS -->
            </div>
            <!-- /USEFULL LINKS -->
            <div class="footer-copyright">
                <p>2022 &copy; La Nîmes'alerie - Réalisé par Nathan Badoit</p>
            </div>
        </div>
    </footer>