<div class="testimonialPageProduct mb-5">
    
    <div class="mx-auto">
        <p>Par <span class='greenText'>{{review.user.username}}</span> </p>
        <p>Note de l'utilisateur : <span class="greenText">{{review.rating}}</span></p>
        <p> {{review.comment}} </p>
    </div>

</div>