<div class="testimonial">
    <p> {{review.comment}} </p>
    <div class="testimonial-user">
        
        <p> Pour <span>{{review.product.name}}</span> </p>
        <p> Par <span>{{review.user.username}}</span> </p>
    </div>
</div>