<form class="mt-3" method="post" action="{{ path('app_admin_animal_delete', {'id': animal.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet Animal ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ animal.id) }}">
    <button class="btn btn-danger mt-2">Supprimer</button>
</form>
