{% extends 'back/base.html.twig' %}

{% block title %}
    Index Animaux
{% endblock %}

{% block body %}
    <h1>Index Animaux</h1>

    <div class="col-8 mx-auto">
        <table class="table table-hover table-dark table-striped ">
            <thead>
                <tr>
                    <th>Espèces</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for animal in animals %}
                <tr>
                    <td>{{ animal.species }}</td>
                    <td>
                        <a href="{{ path('app_admin_animal_show', {'id': animal.id}) }}">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                        <a href="{{ path('app_admin_animal_edit', {'id': animal.id}) }}">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune entrée trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_admin_animal_new') }}">Créer une nouvelle espèce</a>

{% endblock %}
