{% extends 'front/base.html.twig' %}

{% block body %}
    <!-- HEADER -->
    {% include 'front/partials/_header.html.twig'  %}
    <!-- CORPS DE LA PAGE -->
    <main id="main">
        <!-- BANNERS -->
        <section class="banner">
            <div>
                <div class="bg-effect-glass">
                    <h1>La Nîmes'alerie</h1>
                    <p>Le meilleur magasin en ligne pour vos animaux !</p>
                    <a href="" class="button">En savoir +</a>
                </div>
            </div>
        </section>
        <!-- /BANNERS -->
        <!-- USER CUSTOM PARTS -->
        <section class="user-custom widthcustom">
            <p class="user-custom-title">Bonjour{% if app.user%}<span class="text-green"> {{app.user.username}}</span>{% endif %}, voici quelques suggestions</p>
            <div>
                <!-- THUMBNAILS 1 -->
                <div class="thumbnail">
                    <p class="thumbnail-title">Envoyer votre animal dans l'espace</p>
                </div>
                <!-- /THUMBNAILS 1 -->
                <!-- THUMBNAILS 2 -->
                <div class="thumbnail">
                    <p class="thumbnail-title">Vivre parmi les loups</p>
                </div>
                <!-- /THUMBNAILS 2 -->
                <!-- THUMBNAILS 3 -->
                <div class="thumbnail">
                    <p class="thumbnail-title">Accessoires chien</p>
                </div>
                <!-- /THUMBNAILS 3 -->
            </div>
        </section>
        <!-- /USER CUSTOM PARTS -->
        <!-- BEST PRODUCTS -->
        <section class="best-products widthcustom">
            <!-- SECTION CAROUSEL TITLE -->
            <div class="section-title">
                <h2>Meilleurs produits</h2>
            </div>
            <!-- /SECTION CAROUSEL TITLE -->

            <div class="products d-flex justify-content-between">
                {% for product in bestRatingProducts %}
                    {% include 'front/partials/_cardProduct.html.twig' %}
                {% endfor %}
            </div>

        </section>
        <!-- /BEST PRODUCTS -->

        <!-- YOUR SELECTION -->
        <section class="selection widthcustom">
            <!-- SECTION CAROUSEL TITLE -->
            <div class="section-title">
                <h2>Votre sélection</h2>
            </div>
            <!-- /SECTION CAROUSEL TITLE -->
            <!-- CAROUSEL -->
            <div class="products">
                {% for product in randProducts %}
                    {% include 'front/partials/_cardProduct.html.twig' %}
                {% endfor %}
            </div>
            <!-- /CAROUSEL -->
        </section>
        <!-- /YOUR SELECTION -->
        <!-- TESTIMIONALS SECTION -->
        <section class="users-testimonials widthcustom">
            <!-- SECTION TITLE -->
            <div class="section-title">
                <h2>Témoignages</h2>
            </div>
            <!-- SECTION TITLE -->
            <!-- Testimonials -->
            <div class="testimonials flex-column flex-md-row justify-content-between align-items-stretch">

                {% for review in lastReviews | slice(0,3)  %}
                    {% include 'front/partials/_review.html.twig' %}
                {% endfor %}
                
            </div>
            <!-- /Testimonials -->
        </section>
        <!-- /TESTIMIONALS SECTION -->
        <!-- REINSURANCE -->
        <section class="reinsurance widthcustom">
            <div class="reinsurance-cards d-flex flex-column flex-md-row">
                <!-- REINSURANCE CARD 1 -->
                <div class="reinsurance-card">
                    <img src="{{asset('build/img/icons/icon_van.svg')}}" alt="icone de livraison">
                    <p class="text-reinsurance">Livraison 24h</p>
                </div>
                <!-- REINSURANCE CARD 1 -->
                <!-- REINSURANCE CARD 2 -->
                <div class="reinsurance-card">
                    <img src="{{asset('build/img/icons/icon_card.svg')}}" alt="icone de carte bancaire">
                    <p class="text-reinsurance">Paiement sécurisé</p>
                </div>
                <!-- REINSURANCE CARD 2 -->
                <!-- REINSURANCE CARD 3 -->
                <div class="reinsurance-card">
                    <img src="{{asset('build/img/icons/icon_coin.svg')}}" alt="icone de pièces">
                    <p class="text-reinsurance">Remboursement</p>
                </div>
                <!-- REINSURANCE CARD 3 -->
            </div>
        </section>
        <!-- /REINSURANCE -->

    </main>
    <!-- /CORPS DE LA PAGE -->
    <!-- FOOTER -->
    {% include 'front/partials/_footer.html.twig'  %}
    <!-- /FOOTER -->


{% endblock %}
