{% extends 'front/base.html.twig' %}

{% block body %}
    <!-- HEADER -->
    {% include 'front/partials/_header.html.twig'  %}
    <!-- CORPS DE LA PAGE -->
    <main id="main">
        <!-- BANNERS -->
        <section class="banner">
            <div>
                <div class="bg-effect-glass">
                    <h1>La Nîmes'alerie</h1>
                    <p>Le meilleur magasin en ligne pour vos animaux !</p>
                    <a href="" class="button">En savoir +</a>
                </div>
            </div>
        </section>
        <!-- /BANNERS -->
        <!-- USER CUSTOM PARTS -->
        <section class="user-custom widthcustom">
            <p class="user-custom-title">Bonjour <span class="text-green">Hapy</span>, voici quelques suggestions</p>
            <div>
                <!-- THUMBNAILS 1 -->
                <div class="thumbnail">
                    <p class="thumbnail-title">Envoyer votre animal dans l'espace</p>
                </div>
                <!-- /THUMBNAILS 1 -->
                <!-- THUMBNAILS 2 -->
                <div class="thumbnail">
                    <p class="thumbnail-title">Vivre parmi les loups</p>
                </div>
                <!-- /THUMBNAILS 2 -->
                <!-- THUMBNAILS 3 -->
                <div class="thumbnail">
                    <p class="thumbnail-title">Accessoires chien</p>
                </div>
                <!-- /THUMBNAILS 3 -->
            </div>
        </section>
        <!-- /USER CUSTOM PARTS -->
        <!-- BEST PRODUCTS -->
        <section class="best-products widthcustom">
            <!-- SECTION CAROUSEL TITLE -->
            <div class="section-title">
                <h2>Meilleurs produits</h2>
            </div>
            <!-- /SECTION CAROUSEL TITLE -->
            <!-- CAROUSEL -->
            <div class="products">
                <!-- PRODUCT CARD 1 -->
                <div class="product-card">
                    <!-- TOP CARD -->
                    <img src="assets/img/img_product.png" alt="Image du produit">
                    <!-- /TOP CARD -->
                    <!-- BOTTOM CARD -->
                    <div class="product-card-footer">
                        <!-- CARD TITLE -->
                        <p class="product-brand">Royal canin</p>
                        <h3>Maxi adulte 5 kg</h3>
                        <!-- /CARD TITLE -->
                        <!-- CARD RANK -->
                        <div class="product-rank">
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-empty"></span>
                        </div>
                        <!-- CARD RANK -->
                        <!-- PRICE & FAVOURITE -->
                        <div>
                            <p class="product-price">49,99€</p>
                            <span class="product-favourite"></span>
                        </div>
                        <!-- /PRICE & FAVOURITE -->
                        <!-- BUTTON BASKET -->
                        <a href="" class="button">Ajouter au panier</a>
                        <!-- /BUTTON BASKET -->
                    </div>
                    <!-- /BOTTOM CARD -->
                </div>
                <!-- /PRODUCT CARD 1 -->
                <!-- PRODUCT CARD 2 -->
                <div class="product-card">
                    <!-- TOP CARD -->
                    <img src="" alt="">
                    <!-- /TOP CARD -->
                    <!-- BOTTOM CARD -->
                    <div class="product-card-footer">
                        <!-- CARD TITLE -->
                        <p class="product-brand">Royal canin</p>
                        <h3>Maxi adulte 5 kg</h3>
                        <!-- /CARD TITLE -->
                        <!-- CARD RANK -->
                        <div class="product-rank">
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-empty"></span>
                        </div>
                        <!-- CARD RANK -->
                        <!-- PRICE & FAVOURITE -->
                        <div>
                            <p class="product-price">49,99€</p>
                            <span class="product-favourite"></span>
                        </div>
                        <!-- /PRICE & FAVOURITE -->
                        <!-- BUTTON BASKET -->
                        <a href="" class="button">Ajouter au panier</a>
                        <!-- /BUTTON BASKET -->
                    </div>
                    <!-- /BOTTOM CARD -->
                </div>
                <!-- /PRODUCT CARD 2 -->
                <!-- PRODUCT CARD 3 -->
                <div class="product-card">
                    <!-- TOP CARD -->
                    <img src="" alt="">
                    <!-- /TOP CARD -->
                    <!-- BOTTOM CARD -->
                    <div class="product-card-footer">
                        <!-- CARD TITLE -->
                        <p class="product-brand">Royal canin</p>
                        <h3>Maxi adulte 5 kg</h3>
                        <!-- /CARD TITLE -->
                        <!-- CARD RANK -->
                        <div class="product-rank">
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-empty"></span>
                        </div>
                        <!-- CARD RANK -->
                        <!-- PRICE & FAVOURITE -->
                        <div>
                            <p class="product-price">49,99€</p>
                            <span class="product-favourite"></span>
                        </div>
                        <!-- /PRICE & FAVOURITE -->
                        <!-- BUTTON BASKET -->
                        <a href="" class="button">Ajouter au panier</a>
                        <!-- /BUTTON BASKET -->
                    </div>
                    <!-- /BOTTOM CARD -->
                </div>
                <!-- /PRODUCT CARD 3 -->
                <!-- PRODUCT CARD 4 -->
                <div class="product-card">
                    <!-- TOP CARD -->
                    <img src="" alt="">
                    <!-- /TOP CARD -->
                    <!-- BOTTOM CARD -->
                    <div class="product-card-footer">
                        <!-- CARD TITLE -->
                        <p class="product-brand">Royal canin</p>
                        <h3>Maxi adulte 5 kg</h3>
                        <!-- /CARD TITLE -->
                        <!-- CARD RANK -->
                        <div class="product-rank">
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-empty"></span>
                        </div>
                        <!-- CARD RANK -->
                        <!-- PRICE & FAVOURITE -->
                        <div>
                            <p class="product-price">49,99€</p>
                            <span class="product-favourite"></span>
                        </div>
                        <!-- /PRICE & FAVOURITE -->
                        <!-- BUTTON BASKET -->
                        <a href="" class="button">Ajouter au panier</a>
                        <!-- /BUTTON BASKET -->
                    </div>
                    <!-- /BOTTOM CARD -->
                </div>
                <!-- /PRODUCT CARD 4 -->
                <!-- PRODUCT CARD 5 -->
                <div class="product-card">
                    <!-- TOP CARD -->
                    <img src="" alt="">
                    <!-- /TOP CARD -->
                    <!-- BOTTOM CARD -->
                    <div class="product-card-footer">
                        <!-- CARD TITLE -->
                        <p class="product-brand">Royal canin</p>
                        <h3>Maxi adulte 5 kg</h3>
                        <!-- /CARD TITLE -->
                        <!-- CARD RANK -->
                        <div class="product-rank">
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-empty"></span>
                        </div>
                        <!-- CARD RANK -->
                        <!-- PRICE & FAVOURITE -->
                        <div>
                            <p class="product-price">49,99€</p>
                            <span class="product-favourite"></span>
                        </div>
                        <!-- /PRICE & FAVOURITE -->
                        <!-- BUTTON BASKET -->
                        <a href="" class="button">Ajouter au panier</a>
                        <!-- /BUTTON BASKET -->
                    </div>
                    <!-- /BOTTOM CARD -->
                </div>
                <!-- /PRODUCT CARD 5 -->
            </div>
            <!-- /CAROUSEL -->
        </section>
        <!-- /BEST PRODUCTS -->
        <!-- YOUR SELECTION -->
        <section class="selection widthcustom">
            <!-- SECTION CAROUSEL TITLE -->
            <div class="section-title">
                <h2>Votre sélection</h2>
            </div>
            <!-- /SECTION CAROUSEL TITLE -->
            <!-- CAROUSEL -->
            <div class="products">
                <!-- PRODUCT CARD 1 -->
                <div class="product-card">
                    <!-- TOP CARD -->
                    <img src="" alt="">
                    <!-- /TOP CARD -->
                    <!-- BOTTOM CARD -->
                    <div class="product-card-footer">
                        <!-- CARD TITLE -->
                        <p class="product-brand">Royal canin</p>
                        <h3>Maxi adulte 5 kg</h3>
                        <!-- /CARD TITLE -->
                        <!-- CARD RANK -->
                        <div class="product-rank">
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-empty"></span>
                        </div>
                        <!-- CARD RANK -->
                        <!-- PRICE & FAVOURITE -->
                        <div>
                            <p class="product-price">49,99€</p>
                            <span class="product-favourite"></span>
                        </div>
                        <!-- /PRICE & FAVOURITE -->
                        <!-- BUTTON BASKET -->
                        <a href="" class="button">Ajouter au panier</a>
                        <!-- /BUTTON BASKET -->
                    </div>
                    <!-- /BOTTOM CARD -->
                </div>
                <!-- /PRODUCT CARD 1 -->
                <!-- PRODUCT CARD 2 -->
                <div class="product-card">
                    <!-- TOP CARD -->
                    <img src="" alt="">
                    <!-- /TOP CARD -->
                    <!-- BOTTOM CARD -->
                    <div class="product-card-footer">
                        <!-- CARD TITLE -->
                        <p class="product-brand">Royal canin</p>
                        <h3>Maxi adulte 5 kg</h3>
                        <!-- /CARD TITLE -->
                        <!-- CARD RANK -->
                        <div class="product-rank">
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-empty"></span>
                        </div>
                        <!-- CARD RANK -->
                        <!-- PRICE & FAVOURITE -->
                        <div>
                            <p class="product-price">49,99€</p>
                            <span class="product-favourite"></span>
                        </div>
                        <!-- /PRICE & FAVOURITE -->
                        <!-- BUTTON BASKET -->
                        <a href="" class="button">Ajouter au panier</a>
                        <!-- /BUTTON BASKET -->
                    </div>
                    <!-- /BOTTOM CARD -->
                </div>
                <!-- /PRODUCT CARD 2 -->
                <!-- PRODUCT CARD 3 -->
                <div class="product-card">
                    <!-- TOP CARD -->
                    <img src="" alt="">
                    <!-- /TOP CARD -->
                    <!-- BOTTOM CARD -->
                    <div class="product-card-footer">
                        <!-- CARD TITLE -->
                        <p class="product-brand">Royal canin</p>
                        <h3>Maxi adulte 5 kg</h3>
                        <!-- /CARD TITLE -->
                        <!-- CARD RANK -->
                        <div class="product-rank">
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-empty"></span>
                        </div>
                        <!-- CARD RANK -->
                        <!-- PRICE & FAVOURITE -->
                        <div>
                            <p class="product-price">49,99€</p>
                            <span class="product-favourite"></span>
                        </div>
                        <!-- /PRICE & FAVOURITE -->
                        <!-- BUTTON BASKET -->
                        <a href="" class="button">Ajouter au panier</a>
                        <!-- /BUTTON BASKET -->
                    </div>
                    <!-- /BOTTOM CARD -->
                </div>
                <!-- /PRODUCT CARD 3 -->
                <!-- PRODUCT CARD 4 -->
                <div class="product-card">
                    <!-- TOP CARD -->
                    <img src="" alt="">
                    <!-- /TOP CARD -->
                    <!-- BOTTOM CARD -->
                    <div class="product-card-footer">
                        <!-- CARD TITLE -->
                        <p class="product-brand">Royal canin</p>
                        <h3>Maxi adulte 5 kg</h3>
                        <!-- /CARD TITLE -->
                        <!-- CARD RANK -->
                        <div class="product-rank">
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-empty"></span>
                        </div>
                        <!-- CARD RANK -->
                        <!-- PRICE & FAVOURITE -->
                        <div>
                            <p class="product-price">49,99€</p>
                            <span class="product-favourite"></span>
                        </div>
                        <!-- /PRICE & FAVOURITE -->
                        <!-- BUTTON BASKET -->
                        <a href="" class="button">Ajouter au panier</a>
                        <!-- /BUTTON BASKET -->
                    </div>
                    <!-- /BOTTOM CARD -->
                </div>
                <!-- /PRODUCT CARD 4 -->
                <!-- PRODUCT CARD 5 -->
                <div class="product-card">
                    <!-- TOP CARD -->
                    <img src="" alt="">
                    <!-- /TOP CARD -->
                    <!-- BOTTOM CARD -->
                    <div class="product-card-footer">
                        <!-- CARD TITLE -->
                        <p class="product-brand">Royal canin</p>
                        <h3>Maxi adulte 5 kg</h3>
                        <!-- /CARD TITLE -->
                        <!-- CARD RANK -->
                        <div class="product-rank">
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-full"></span>
                            <span class="star star-empty"></span>
                        </div>
                        <!-- CARD RANK -->
                        <!-- PRICE & FAVOURITE -->
                        <div>
                            <p class="product-price">49,99€</p>
                            <span class="product-favourite"></span>
                        </div>
                        <!-- /PRICE & FAVOURITE -->
                        <!-- BUTTON BASKET -->
                        <a href="" class="button">Ajouter au panier</a>
                        <!-- /BUTTON BASKET -->
                    </div>
                    <!-- /BOTTOM CARD -->
                </div>
                <!-- /PRODUCT CARD 5 -->
            </div>
            <!-- /CAROUSEL -->
        </section>
        <!-- /YOUR SELECTION -->
        <!-- TESTIMIONALS SECTION -->
        <section class="users-testimonials widthcustom">
            <!-- SECTION TITLE -->
            <div class="section-title">
                <h2>Témoignages</h2>
            </div>
            <!-- SECTION TITLE -->
            <!-- Testimonials -->
            <div class="testimonials">
                <!-- TESTIMONIAL 1 -->
                <div class="testimonial">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, sint repellat? Et,
                        reprehenderit. Ipsa, dignissimos at? Modi pariatur, enim est vero ut vitae fugit nulla quod
                        aperiam dolorum officiis non!</p>
                    <div class="testimonial-user">
                        <span class="testimonial-user-pic"></span>
                        <p>David Goodenough</p>
                    </div>
                </div>
                <!-- /TESTIMONIAL 1 -->
                <!-- TESTIMONIAL 2 -->
                <div class="testimonial">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, sint repellat? Et,
                        reprehenderit. Ipsa, dignissimos at? Modi pariatur, enim est vero ut vitae fugit nulla quod
                        aperiam dolorum officiis non!</p>
                    <div class="testimonial-user">
                        <span class="testimonial-user-pic"></span>
                        <p>David Goodenough</p>
                    </div>
                </div>
                <!-- /TESTIMONIAL 2 -->
                <!-- TESTIMONIAL 3 -->
                <div class="testimonial">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, sint repellat? Et,
                        reprehenderit. Ipsa, dignissimos at? Modi pariatur, enim est vero ut vitae fugit nulla quod
                        aperiam dolorum officiis non!</p>
                    <div class="testimonial-user">
                        <span class="testimonial-user-pic"></span>
                        <p>David Goodenough</p>
                    </div>
                </div>
                <!-- /TESTIMONIAL 3 -->
            </div>
            <!-- /Testimonials -->
        </section>
        <!-- /TESTIMIONALS SECTION -->
        <!-- REINSURANCE -->
        <section class="reinsurance widthcustom">
            <div class="reinsurance-cards">
                <!-- REINSURANCE CARD 1 -->
                <div class="reinsurance-card">
                    <img src="assets/icons/icon_van.svg" alt="icone de livraison">
                    <p class="text-reinsurance">Livraison 24h</p>
                </div>
                <!-- REINSURANCE CARD 1 -->
                <!-- REINSURANCE CARD 2 -->
                <div class="reinsurance-card">
                    <img src="assets/icons/icon_card.svg" alt="icone de carte bancaire">
                    <p class="text-reinsurance">Paiement sécurisé</p>
                </div>
                <!-- REINSURANCE CARD 2 -->
                <!-- REINSURANCE CARD 3 -->
                <div class="reinsurance-card">
                    <img src="assets/icons/icon_coin.svg" alt="icone de pièces">
                    <p class="text-reinsurance">Remboursement</p>
                </div>
                <!-- REINSURANCE CARD 3 -->
            </div>
        </section>
        <!-- /REINSURANCE -->

    </main>
    <!-- /CORPS DE LA PAGE -->
    <!-- FOOTER -->
    {% include 'front/partials/_footer.html.twig'  %}
    <!-- /FOOTER -->

    <!-- SCRIPTS -->
    {# <?php
    echo '<script src="js/viewPasswordModal.js"></script>';
    echo '<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>';
    ?> #}
    <!-- /SCRIPTS -->

{% endblock %}
