{% extends 'back/base.html.twig' %}


{% block body %}
    <h1>Créer un produit</h1>

    {{ include('back/product/_form.html.twig') }}

    <a href="{{ path('app_admin_product_index') }}">Retour à la liste</a>
{% endblock %}
