{% extends 'back/base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}


{% block body %}
    <h1>Créer un produit</h1>

    <div class="mx-auto col-6">
        {{ include('back/product/_form.html.twig') }}
    </div>

    <a href="{{ path('app_admin_product_index') }}">Retour à la liste</a>
{% endblock %}
