footer div.footer-links{
    display: flex;
    justify-content: left;
    width: fit-content;
    padding-top: 1rem;
    margin: 2rem 0rem;


    div{
        margin-right: 1.5rem;

        ul{
            margin-left: -2rem;

            li{
                list-style-type: none;
            }
        }
        
    }
}

div.footer-copyright p{
    width: 100%;
    text-align: center;
    padding-bottom: .5rem;
    margin-bottom: 0rem;
}

// FOOTER
footer{
    background-color: $darkgreen;
    color: $light;

    div.widthcustom{
        width: $widthperso;
        margin: auto;
    }

    a{
        text-decoration: none;
        color: $light;

        &:visited{
            color: $lightgreen;
        }

        &:hover{
            color:$yellow;
        }
    }

}

div.footer-links div h4 {
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    text-transform: uppercase;

    +ul>li{
        font-family: 'Oxygen',sans-serif;
        font-weight: 400;
    }
}

//Responsive

@media (max-width: 768px) {


    footer div.widthcustom {
        width: 100%;
        margin: auto;


        div.footer-links{
        
            width: 100%;
            flex-direction: column;
            align-items: center;
            margin: auto;
            
    
            div{
                margin-right: 1rem;
                margin-bottom: 1rem;
            }
        }
        div.footer-copyright{
            width: 75%;
            text-align: center;
            margin: auto;

            p{
                margin-bottom: 0;
            }

        }
    }
    
}