section.reinsurance div.reinsurance-cards{
    display: flex;
    justify-content: space-between;

    div.reinsurance-card{
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            height: 100px;
            width: auto;
        }

    }
}

// responsive

@media (max-width: 768px) {

    p.text-reinsurance{
        width: auto;
        margin: auto;
        // TODO : trouver un moyen de centrer ce texte

    }  
}