section {

    margin-bottom: 3rem !important;
    height: fit-content;

    div.products{
        display: flex;
        justify-content: space-between;
    }
}

div.product-card{
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    


    div.product-card-footer{
        // height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    a.button{
        align-self: center;
    }
}

// Responsive

@media (max-width: 768px) {

    div.products{
        flex-direction: column;
    }

    div.product-card{
        height: 100%;
        width: max-content;
        margin-bottom: 1rem;
    }
}

