// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:wght@500;700&family=Oxygen:wght@300;400;700&display=swap');

// FONTS
$ftlogo:'Oxygen', sans-serif;
$ftlogo:'Amatic SC', cursive;
$ftmenu:'Montserrat', sans-serif;

// COLORS
$white:#fefefe;
$white-glass:#fefefe1a;
$light:#fdf9f4;
$lightgrey:#c4c4c4;
$grey:#676767;
$dark:#181818;
$darkgreen:#2f5214;
$green:#4d9416;
$lightgreen:#d7ffb7;
$yellow:#f7c850;
$darkred:#521414;
$red:#B30720;
$blue:#4ca7da;


// Largeur fixe
$widthperso : 960px;
$fontsizeperso: .8rem



