{% extends 'front/base.html.twig' %}

{% block body %}

{% include 'front/partials/_header.html.twig' %}

<div class="container">
    <div class="row">
        <div class="col-6 mt-4 mx-auto">
            <h1>La Nîmes'alerie</h1>
            {# TODO: changer le lorem ipsuim avec du vrai texte #}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae porttitor elit. Integer eget est lectus. Morbi sed mi vitae dui maximus dignissim. Suspendisse potenti. Quisque pharetra dolor libero, a tempor velit porttitor at. Mauris dolor ligula, bibendum quis semper vel, faucibus et dui. Curabitur sit amet erat ligula. Ut tempus interdum eros ut rutrum. Praesent hendrerit leo vitae risus placerat dapibus. Mauris sit amet felis eu libero fringilla viverra.</p>

            <p>Sed lobortis pulvinar enim quis imperdiet. Aenean accumsan dignissim efficitur. In luctus malesuada mauris vitae hendrerit. Praesent scelerisque tincidunt lorem, eu aliquet augue varius et. Phasellus at massa dui. Phasellus posuere justo vitae orci elementum tempor. Aliquam et ante nunc. Praesent a rutrum magna. Curabitur hendrerit velit et odio congue fermentum. Aliquam placerat, tellus vel luctus bibendum, tellus ligula gravida lorem, vitae maximus ipsum nisl id eros. Nunc vehicula dignissim rhoncus. Duis pharetra accumsan turpis, sed consectetur risus imperdiet ut. Nam porta leo eget elit pellentesque aliquet. Nulla condimentum porta nisl ut commodo. Duis faucibus odio ac ex placerat, cursus iaculis risus porttitor.</p>
        </div>
    </div>
</div>

{% include 'front/partials/_footer.html.twig' %}

{% endblock %}
