<form method="post" action="{{ path('app_admin_gender_delete', {'id': gender.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce genre ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gender.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
