{% extends 'back/base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h1>Créer un nouveau genre</h1>

    <div class="col-6 mx-auto">
        {{ include('back/gender/_form.html.twig') }}
    </div>

    <a href="{{ path('app_admin_gender_index') }}">Retour à la liste</a>
{% endblock %}
