.button{
    background-color: $green;
    color: $light;
    text-decoration: none;
    padding: 6px 20px;
    width: fit-content;
    border: 1px solid $green;

    &:hover{
        background-color:$light;
        color: $green;
        border: 1px solid $green;
    }

    &:disabled{
        background-color: rgb(177, 177, 177);
        color: lightgrey;
        border: none;
        cursor: not-allowed;
    }
}